# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_dGlkeS13cmVuLTMuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_...

# Base de données
DATABASE_URL=postgres://user:password@host:port/database

# Mapbox
NEXT_PUBLIC_MAPBOX_TOKEN=pk...

# Optionnel pour Netlify
# NETLIFY_DATABASE_URL=postgresql://...
# NETLIFY_DATABASE_URL_UNPOOLED=postgresql://...