NODE_ENV="development"

# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_...
CLERK_SECRET_KEY=sk_test_...

# NeonDB
DATABASE_URL=postgres://postgres:postgres@db.localtest.me:5435/main

# Mapbox
NEXT_PUBLIC_MAPBOX_TOKEN=pk...

# Seed admin Clerk user ID
SEED_ADMIN_CLERK_USER_ID=user_...

# Cloudflare R2 (LocalStack for dev)
LOCALSTACK_AUTH_TOKEN=ls-...
R2_ENDPOINT=http://localhost:4566
R2_REGION=us-east-1
R2_ACCESS_KEY_ID=test
R2_SECRET_ACCESS_KEY=test
R2_BUCKET_NAME=lien-damour-dev
R2_PUBLIC_BASE_URL=http://localhost:4566/lien-damour-dev